html, body, div, dl, dt, dd, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object, button{margin: 0px; padding: 0px; word-wrap: break-word; color: #444444;}
html, body, img{border: 0px; font-size: 12px;}
body, input, button, select, textarea{
    color: #444444;
    /* font: 14px/1.5 Georgia,serif; */
    font-size: 14px;
}

body{margin: 0px; padding: 0px; background-color: #ffffff;}
div.wrap{margin: 0px auto; width: 1120px;}
.bb{font-weight: bold;}

h1.sk-h1{
    line-height: 2.5em;
    font-weight: bold;
    text-align: left;
}

h1.sk-h1 span.lemma{float: left; width: auto; height: 40px; line-height: 40px; font-size: 30px; line-height: 40px;}

h2.sk-h2{
    line-height: 2.0em;
    text-align: left;
}

h2.sk-h2 a{color: #888888;}
h2.sk-h2 a:hover{color: #376ec2;}

h3.sk-h3{line-height: 2.0em; text-align: left;}
h4.sk-h4{line-height: 2.0em; text-align: left;}
h5.sk-h5{line-height: 2.0em; text-align: left;}

div.sk-content{}
div.sk-content p{line-height: 2.0em;}

div.sk-code{
    margin: 8px 0px 8px 0px;
    padding: 4px;
    border: 1px solid #efefef;
}

ul.sk-list{list-style-type: disc;}
ul.sk-list li{display: list-item;}

table.sk-grid{
    width: 100%;
    border-spacing: 0px 0px;
    background-color: #ffffff;
    border-collapse: collapse;
    font-size: 13px;
}

table.sk-grid td, table.sk-grid th{
    border: 1px #c0c0c0 solid;
}

table.sk-grid tr{
    height: 26px;
}

table.sk-grid tr.thead{
    height: 26px;
}

table.sk-grid tr.thead td, table.sk-grid tr.thead th{
    line-height: 24px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #0f2c64;
}

table.sk-grid tr.thead td, table.sk-grid tr.thead h4{
    padding-left: 4px;
    font-size: 13px;
}

table.sk-grid tr.thead td, table.sk-grid tr.thead h4 img{
    margin-top: -1px;
}

table.sk-grid tr th{white-space: nowrap;}

table.sk-grid tr td{
    padding-left: 4px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

table.sk-grid tr td.c1, table.sk-grid tr th.c1{
    width: 40px;
    padding-left: 0px;
    background: transparent url(../images/thead.gif) repeat scroll 0px 0px;
    vertical-align: middle;
    text-align: center;
}

table.sk-grid tr td.c2, .table tr th.c2{
    width: 40px;
    padding-left: 0px;
    background-color: #efefef;
    vertical-align: middle;
    text-align: center;
}

table.sk-grid tr.old{background-color: #ffffff;}
table.sk-grid tr.even{background-color: #f9f9f9;}
table.sk-grid tr.hover{background-color: #e8f5fe;}
table.sk-grid tr.clicked{background-color: #ffffdd;}
table.form tr td{height: 30px; padding-left: 4px; white-space: nowrap;}
td, th input[type="checkbox"]{}

div.scrolltop{
    width: 20px;
    height: 50px;
    right: 50px;
    bottom: 100px;
    background: transparent url(../images/scrolltop.gif) no-repeat scroll 0px 0px;
    line-height: 999px;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    display: block;
}
