<div>
<h1>${name}</h1>
<table border="${border}">
    <tr>
        <th>&#160;</th>
    </tr>
    #foreach($cell in $!{data})
        <tr>
            <th>${cell}</th>
        </tr>
    #end
</table>

<table border="${border}">
    <tr>
        <th>&#160;</th>
    </tr>
    #foreach($cell in $!{data})
        <tr>
            <th>${cell}</th>
        </tr>
    #end
</table>

<table border="${border}">
    <tr>
        <th>&#160;</th>
    </tr>
    #foreach($cell in $!{data})
        <tr>
            <th>${cell}</th>
        </tr>
    #end
</table>

<table border="${border}">
    <tr>
        <th>&#160;</th>
    </tr>
    #foreach($cell in $!{data})
        <tr>
            <th>${cell}</th>
        </tr>
    #end
</table>
</div>