<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ayada</display-name>

    <filter>
        <filter-name>TemplateFilter</filter-name>
        <filter-class>com.skin.ayada.filter.TemplateFilter</filter-class>
        <init-param>
            <param-name>home</param-name>
            <param-value>/template</param-value>
        </init-param>
    </filter>

    <!-- filter mapping -->
    <filter-mapping>
        <filter-name>TemplateFilter</filter-name>
        <url-pattern>/template/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <!-- welcome file list -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
