<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ayada</display-name>

    <filter>
        <filter-name>TemplateFilter</filter-name>
        <filter-class>com.skin.ayada.web.filter.TemplateFilter</filter-class>
        <!-- template file location -->
        <init-param>
            <param-name>home</param-name>
            <param-value>/WEB-INF/template</param-value>
        </init-param>

        <!-- JspTemplateFactory - as .jsp run -->
        <init-param>
            <param-name>template-factory</param-name>
            <param-value>com.skin.ayada.template.JspTemplateFactory</param-value>
        </init-param>

        <!-- check file lastModified unit: second -->
        <init-param>
            <param-name>expire</param-name>
            <param-value>30</param-value>
        </init-param>
    </filter>

    <!-- filter mapping -->
    <filter-mapping>
        <filter-name>TemplateFilter</filter-name>
        <url-pattern>/WEB-INF/template/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>example.servlet.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet2</servlet-name>
        <servlet-class>example.servlet.UserListServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>example.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/user/UserListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet2</servlet-name>
        <url-pattern>/user/UserListServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user/UserServlet</url-pattern>
    </servlet-mapping>

    <!-- welcome file list -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
